$orange: (
  900: #682f12,
  800: #b47723,
  700: #da9b2b,
  600: #f6b631,
  500: #ffbe33,
  400: #ffc64a,
  300: #ffd16c,
  200: #ffdb8d,
  100: #fff8e7,
);

$primary-color: map-get($orange, 500);
$primary-lite: map-get($orange, 300);
$primary-dark: map-get($orange, 700);

$grey: (
  900: #474747,
  800: #5c5c5c,
  700: #6e6e6e,
  600: #808080,
  500: #949494,
  400: #ababab,
  300: #c2c2c2,
  200: #d1d1d1,
  100: #e0e0e0,
);

$warm-grey: (
  900: #524b3d,
  800: #686050,
  700: #7b7260,
  600: #8f8570,
  500: #a19987,
  400: #b7ae9f,
  300: #ccc5b8,
  200: #dad4c8,
  100: #e7e2da,
);
