@import "./color.scss";

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  @media only screen and (max-width: 600px) {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media only screen and (max-width: 600px) {
    margin-bottom: 10px;
    align-items: center;
  }

  div {
    margin-top: 5px;
  }
}

.working-hours {
  margin-bottom: 10px;

  td {
    border: none !important;
    padding: 0;
    font-size: 1rem;

    text-align: right;
    font-weight: bold;
    line-height: normal;

    @media only screen and (max-width: 600px) {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  @media only screen and (max-width: 600px) {
    width: auto !important;
  }
}

.contact-icons {
  width: 25px !important;
  font-size: 1rem !important;
}

.contact-text {
  margin-left: 10px;
}

.social-networks {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 15px !important;
}

.social-network-link {
  display: flex;
  align-content: center;
  justify-content: center;

  max-width: 36px;
  height: auto;

  border-radius: 100%;
  padding: 4px;
}

.instagram {
  background-color: #e4405f;
}

.social-network-logo {
  color: white;
}
